!!!5
html
  head
    title= project.name
    link(rel='stylesheet', href='/app.css')
  body
    #modules
      .project
        a(href='/projects/#{project.basename}')
          = project.name
      each ms, path in modules
        span= path
        ul
          each module in ms
            li
              a(href='/projects/#{project.basename}/docs/#{module.path}/#{module.name}')
                = module.name
    #readme
      div
        if readme == null
          h1 No readme found!
        else
          != readme
